<h3>Users info</h3>

<!-- ユーザーの詳細 -->
<%= image_tag @user.get_profile_images(100, 100) %>
<p>name <%= @user.name %></p>
<p>introduction</p>


<h3>New book</h3>
<%= form_with model: @book do |f| %>
<p>Title</p>
<%= f.text_field :title %>
<p>Opinion</p>
<%= f.text_area :body %>
<%= f.submit 'Create Book' %>
<% end %>

<!-- ユーザーの投稿一覧 -->
<h3>Books</h3>
<% @books.each do |book| %>
<div>
  <%= link_to book_path(book.id) do %>
    <%= image_tag post_image.get_image %>
  <% end %>
  <p>投稿ユーザー画像：<%= image_tag post_image.user.get_profile_image(100,100) %></p>
  <p>Title：<%= post_image.shop_name %></p><!--show_link必要っぽい-->
  <p>Opinion：<%= post_image.caption %></p>
</div>
<% end %>


<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<!--Prefix Verb   URI Pattern                             Controller#Action
users_show GET    /users/show(.:format)                  users#show-->